/* src/components/common/Header.css */
.main-header {
  display: block;
  width: 100%;
  height: 60px;
  background: var(--color-main-background-gradient);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  width: 320px;
  height: 60px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  color: var(--color-white);
  z-index: 101;
}

.app-logo {
  width: 17.11px;
  height: 17.11px;
  z-index: 101;
}

.header-app-name {
  width: 100%;
  height: 20px;
  font-size: 12.84px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: var(--color-white);
  z-index: 101;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.header-username {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: var(--color-white-60);
}

.header-separator {
  display: none;
}

.logout-button {
  height: 18px;
  background: none;
  border: none;
  color: var(--color-white-60);
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease;
  align-items: center;
}

.logout-button:hover {
  color: var(--color-white);
}

.logout-icon {
  font-size: 18px;
  align-items: center;
}

.logout-text {
  display: none;
  align-items: center;
}

/* Tablet Ekranlar için Media Query (768px) */
@media (min-width: 768px) {
  .main-header {
    height: 80px;
  }

  .main-container {
    padding: 16px 32px;
    width: 768px;
    height: 80px;
  }

  .header-right {
    height: 30px;
  }

  .app-logo {
    width: 23.49px;
    height: 22.47px;
  }

  .header-app-name {
    font-size: 17.1px;
  }

  .header-username {
    font-size: 18px;
  }

  .header-separator {
    display: block;
    font-size: 30px;
    color: var(--color-white-60);
  }

  .logout-button {
    height: 24px;
  }

  .logout-icon {
    margin-right: 3px;
  }

  .logout-text {
    display: inline-block;
    color: var(--color-white-60) !important;
  }

  .logout-text:hover {
    color: var(--color-white) !important;
  }
}

/* Masaüstü Ekranlar için Media Query (1280px) */
@media (min-width: 1280px) {
  .main-container {
    padding: 16px;
    width: 1280px;
  }
}
