/* index.css */

@import 'normalize.css/normalize.css';
@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(191, 180, 221, 1) transparent;
}

body {
  margin: 0;
  font-family:
    'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #101010;
  background-image: var(--color-main-background-gradient);
  background-blend-mode: overlay;
  color: var(--color-white);
  min-height: 100vh;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

.react-datepicker {
  font-family: 'Poppins', sans-serif !important;
  border: none !important;
  border-radius: 12px !important;
  background: var(--color-dropdown-background) !important;
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: 1px solid var(--color-white-40, rgba(255, 255, 255, 0.4)) !important;
}

.react-datepicker__current-month {
  color: var(--color-yellow) !important;
  font-size: 18px !important;
  margin-bottom: 10px !important;
}

.react-datepicker__day-name {
  color: var(--color-yellow);
}

.react-datepicker__day {
  color: var(--color-white);
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-white-60);
}

.react-datepicker__day--selected {
  background-color: var(--color-expense);
  color: #ffffff;
}

.react-datepicker__day:hover {
  background-color: var(--color-income) !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(191, 180, 221, 1);
  border-radius: 4px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(191, 180, 221, 0.8);
}

::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
