/* LoginForm.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("/img/auth/login-mobile-image@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
  .login-container {
    background-image: url("/img/auth/login-mobile-image@2x.jpg");
  }
}

.login-container .auth-box {
  width: 320px;
  height: 568px;
}

/* Tablet (768px) */
@media (min-width: 768px) {
  .login-container {
    background-image: url("/img/auth/login-tablet-image@1x.jpg");
  }
  .login-container .auth-box {
    width: 533px;
    height: 570px;
    padding: 80px 62px;
  }
  .login-container .auth-box::before {
    background-image: url("/img/auth/login-tablet-box-image@1x.jpg");
  }
}

@media (min-width: 768px) and (min-resolution: 1.5dppx),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .login-container {
    background-image: url("/img/auth/login-tablet-image@2x.jpg");
  }
  .login-container .auth-box::before {
    background-image: url("/img/auth/login-tablet-box-image@2x.jpg");
  }
}

/* Masaüstü (1280px) */
@media (min-width: 1280px) {
  .login-container {
    background-image: url("/img/auth/login-desktop-image@1x.jpg");
  }
  .login-container .auth-box::before {
    background-image: url("/img/auth/login-desktop-box-image@1x.jpg");
  }
}

@media (min-width: 1280px) and (min-resolution: 1.5dppx),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .login-container {
    background-image: url("/img/auth/login-desktop-image@2x.jpg");
  }
  .login-container .auth-box::before {
    background-image: url("/img/auth/login-desktop-box-image@2x.jpg");
  }
}
