/* RegistrationForm.css */

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("/img/auth/register-mobile-image@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
  .registration-container {
    background-image: url("/img/auth/register-mobile-image@2x.jpg");
  }
}

.registration-container .auth-box {
  width: 320px;
  height: 624px;
}

/* Tablet (768px) */
@media (min-width: 768px) {
  .registration-container {
    background-image: url("/img/auth/register-tablet-image@1x.jpg");
  }
  .registration-container .auth-box {
    width: 533px;
    height: 624px;
    padding: 40px 62px;
  }
  .registration-container .auth-header {
    margin-bottom: 40px;
  }
  .registration-container .auth-box::before {
    background-image: url("/img/auth/register-tablet-box-image@1x.jpg");
  }
}

@media (min-width: 768px) and (min-resolution: 1.5dppx),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .registration-container {
    background-image: url("/img/auth/register-tablet-image@2x.jpg");
  }
  .registration-container .auth-box::before {
    background-image: url("/img/auth/register-tablet-box-image@2x.jpg");
  }
}

@media (min-width: 1280px) {
  .registration-container {
    background-image: url("/img/auth/register-desktop-image@1x.jpg");
  }
  .registration-container .auth-box::before {
    background-image: url("/img/auth/register-desktop-box-image@1x.jpg");
  }
}

@media (min-width: 1280px) and (min-resolution: 1.5dppx),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .registration-container {
    background-image: url("/img/auth/register-desktop-image@2x.jpg");
  }
  .registration-container .auth-box::before {
    background-image: url("/img/auth/register-desktop-box-image@2x.jpg");
  }
}

.progress-bar-container {
  width: 280px;
  height: 4px;
  background-color: var(--color-white-60);
  border-radius: 4px;
  margin-bottom: 40px;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: var(--color-yellow);
  border-radius: 4px;
  animation: fillProgress 1.5s linear forwards;
}

@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .progress-bar-container {
    width: 409px;
  }
}
